<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Comment id: <%= id %></h1>
    <p><%= comment %> - <%= username %></p>
    <a href="/comments/<%= id %>/edit">Edit comment</a>
    <form action="/comments/<%= id %>?_method=DELETE" method="POST">
      <button>Delete Comment</button>
    </form>
    <a href="/comments">Back to comments</a>
  </body>
</html>
